In [15]:
import pandas as pd
import numpy as np

In [2]:

file = 'data/exoplanets.csv'
data = pd.read_csv(file)
data

,NAME,FIRSTREF,FIRSTURL,DATE,NUM_OBS,MASS(mjupiter),RADIUS(rjupiter),PERIOD(day),ECCENTRICITY,SEMI_MAJOR_AXIS(AU),SEPARATION(AU),STAR_NAME,DIST(PARSEC),RA_STRING(h:m:s),DEC_STRING(d:m:s),STAR_MASS(msun),STAR_RADIUS(rsun)
0,gamma Cep b,Campbell 1988,http://adsabs.harvard.edu/abs/1988ApJ...331..902C,1988,131.0,1.517280,NaN,905.574000,0.1200,1.979300,1.979300,gamma Cep,14.1024,+23:39:20.98,+77:37:55.08,1.260000,5.010000
1,HD 114762 b,Latham 1989,http://adsabs.harvard.edu/abs/1989Natur.339...38L,1989,74.0,11.635100,NaN,83.915100,0.3354,0.362932,0.362932,HD 114762,38.6548,+13:12:20.10,+17:31:01.66,0.894578,0.859205
2,PSR B1257+12 B,Wolszczan 1992,http://adsabs.harvard.edu//abs/1992Natur.355.....,1992,NaN,0.013531,NaN,66.541900,0.0186,0.321369,0.321369,PSR B1257+12,NaN,13:00:03.577,+12:40:56.4,NaN,NaN
3,PSR B1257+12 A,Wolszczan 1992,http://adsabs.harvard.edu//abs/1992Natur.355.....,1992,NaN,0.000063,NaN,25.262000,0.0000,0.168494,0.168494,PSR B1257+12,NaN,13:00:03.577,+12:40:56.4,NaN,NaN
4,beta Gem b,Hatzes 1993,http://adsabs.harvard.edu/abs/1993ApJ...413..339H,1993,55.0,2.758220,NaN,589.640010,0.0200,1.757390,1.757390,beta Gem,10.3584,+07:45:19.36,+28:01:34.72,2.080000,8.156090
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1637,HD 5319 c,Giguere 2015,http://adsabs.harvard.edu/abs/2015ApJ...799...89G,2015,81.0,1.150000,NaN,886.000000,0.1500,2.071700,2.071700,HD 5319,114.0000,+00:55:01.40,+00:47:22.84,1.510000,3.850000
1638,WASP-89 b,Hellier 2015,http://adsabs.harvard.edu/abs/2015AJ....150...18H,2015,NaN,5.900000,1.04,3.356423,0.1930,0.042670,0.042670,WASP-89,NaN,20:55:35.98,-18:58:16.1,0.920000,0.880000
1639,HD 1666 b,Harakawa 2015,http://adsabs.harvard.edu/abs/2015ApJ...806....5H,2015,99.0,6.470720,NaN,270.000000,0.6300,0.937147,0.937147,HD 1666,110.6000,+00:20:52.34,-19:55:51.89,1.500000,1.930000
1640,HD 95127 b,Niedzielski 2015,http://adsabs.harvard.edu/abs/2015ApJ...803....1N,2015,41.0,5.036200,NaN,482.000000,0.1100,1.280200,1.280200,HD 95127,326.7970,+10:59:35.10,+43:48:52.17,1.200000,20.000000
1641,Kepler-432 c,Ciceri 2015,http://adsabs.harvard.edu/abs/2015A%26A...573L...,2015,45.0,2.364020,NaN,406.200000,0.4980,1.178160,1.178160,Kepler-432,870.0000,19:33:07.729,+48:17:09.,1.320000,4.060000

In [6]:
series = data['NAME']

In [8]:
series

0          gamma Cep b
1          HD 114762 b
2       PSR B1257+12 B
3       PSR B1257+12 A
4           beta Gem b
             ...
1637         HD 5319 c
1638         WASP-89 b
1639         HD 1666 b
1640        HD 95127 b
1641      Kepler-432 c
Name: NAME, Length: 1642, dtype: object

In [9]:
new_list = [5,10,15,20,25]
pd.Series(new_list)

0     5
1    10
2    15
3    20
4    25
dtype: int64

In [10]:
new_dictionary = {'b':100, 'a':200.0, 'd':450, 'c':700}
pd.Series(new_dictionary)

b    100.0
a    200.0
d    450.0
c    700.0
dtype: float64

In [12]:
test_dict = {'c':200.0, 20:'sab', 'test': ['a','b','c']}

In [13]:
pd.Series(test_dict)

c             200
20            sab
test    [a, b, c]
dtype: object

In [14]:
from collections import OrderedDict
od = OrderedDict([('z',0),('b', 100), ('a',200), ('d',450), ('c',700)])
pd.Series(od)

z      0
b    100
a    200
d    450
c    700
dtype: int64

In [19]:
array1 = np.arange(1,6)*10.0

In [30]:

type(array1)

numpy.ndarray

In [21]:
array1

array([10., 20., 30., 40., 50.])

In [29]:
series1 = pd.Series(array1)
series1.index

RangeIndex(start=0, stop=5, step=1)

In [27]:
array1

array([10., 20., 30., 40., 50.])

In [32]:
series1

0    10.0
1    20.0
2    30.0
3    40.0
4    50.0
dtype: float64

In [34]:
series1.iloc[1]

20.0